<div class="page-layout">
    <div class="sidebar">
        <header>
            <img class="logo" src="/public/images/logo2.png" alt="Logo">
        </header>
        <nav>
            <ul>
                <li title="Registrar Vehículo" id="btnAbrirModalVehiculo"><i class="bi bi-car-front-fill"></i>
                    <span class="link-text">
                        <span class="menu-line">Agregar</span>
                    </span>
                </li>
                <li title="About"><i class="bi bi-plus-square-fill"></i><span class="link-text">About</span></li>
                <li title="Services"><i class="bi bi-info-circle-fill"></i><span class="link-text">Services</span></li>
                <li title="Contact"><i class="bi bi-telephone-fill"></i><span class="link-text">Contact</span></li>
                <li class="logout" id="logoutBtn" title="Cerrar sesión">
                    <i class="bi bi-box-arrow-right"></i>
                    <span class="link-text">Logout</span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <p>© 2025 - Todos los derechos reservados</p>
        </footer>
    </div>
</div>

