* {
    margin: 0;
    padding: 0;
}

.form-control {
    background-color: rgb(84, 94, 102);
    color: rgb(51, 187, 255);
    border: 1px solid rgb(51, 187, 255);
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

.form-control::placeholder {
    color: rgba(51, 187, 255, 0.7);
}

.form-control:focus {
    background-color: rgb(72, 80, 87);
    border-color: rgb(0, 230, 255);
    box-shadow: 0 0 5px rgba(0, 230, 255, 0.5);
    outline: none;
    color: white
}

label {
    color: rgb(51, 187, 255); 
    font-family: "Josefin Sans", sans-serif;
}

.boton-contenedor {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.error_alert {
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(252, 59, 59);
    font-size: 15px;
    margin-top: 10px;
    padding: 0;
}

.btn {
    height: 30px;
    width: 120px;
}