<div class="title">
    <h2>SISTEMA PARQUEADERO</h2>
</div>
<div class="crud_panel">
    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalCrearCelda" id="btnAbrirModalCelda" (click)="limpiarCeldaSeleccionada()">
        <i class="bi bi-plus-lg"></i>
        Crear Celda
    </button>
</div>
<div class="celdas_content">
    <div class="cell" 
    *ngFor="let celda of celdas" 
    [ngClass]="{'libre': celda.estado === 'Libre', 'ocupado': celda.estado === 'Ocupado', 'reservado': celda.estado === 'Reservado'}"
    (click)="celdaActual(celda)">
        {{celda.codigo}}
    </div>
</div>   

<!-- Modal para crear celda -->

<div class="modal fade" id="modalCrearCelda" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear nueva celda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-content">
                <app-crear-celda [celdaInput]="celdaSeleccionada" (celdaCreada)="getCeldas()"></app-crear-celda>
            </div>
        </div>
    </div>
</div>

<!-- Modal para información de celda -->

<div class="modal fade" id="infoCeldaModal" tabindex="-1" aria-hidden="true" [ngClass]="{'show': detallesModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="detalleCeldaContent">
            <div class="modal-header">
                <h5 class="modal-title">Detalle de Celda: {{celdaSeleccionada.codigo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-detalle-celda 
                [celdaDetalleInput]="celdaSeleccionada"
                [celdaParqueoDetalleInput]="parqueoSeleccionado"
                [celdaVehiculoDetalleInput]="vehiculoSeleccionado"
                [celdaClienteDetalleInput]="clienteSeleccionado">
                </app-detalle-celda>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success generar-pago-btn" data-bs-toggle="modal" data-bs-target="#registrarPagoModal" id="btnAbrirModalPago">
                        Generar Pago
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal crear parqueo -->

<div class="modal fade" id="crearParqueoModal" tabindex="-1" aria-hidden="true" [ngClass]="{'show': parquearModal}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="crearParqueoModalContent">
        <div class="modal-header">
            <h5 class="modal-title">Parquear</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="formularioParqueoBody">
            <app-crear-parqueo 
            [celdaParqueoInput]="celdaSeleccionada"
            [vehiculoParqueoInput]="vehiculos"
            [tarifasParqueoInput]="tarifas"
            (crearParqueo)="getCeldas()"></app-crear-parqueo>
        </div>
        </div>
    </div>
</div>

<!-- Modal crear pago -->

<div class="modal fade" id="registrarPagoModal" tabindex="-1" aria-labelledby="registrarPagoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrarPagoModalLabel">Registrar Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="registrarPagoModalBody">
                <app-crear-pago
                [celdaPagoInput]="celdaSeleccionada"
                [parqueoPagoInput]="parqueos"
                [vehiculoPagoInput]="vehiculos"
                [clientePagoInput]="clientes">
                </app-crear-pago>
            </div>
        </div>
    </div>
</div>